# Stripe keys
# https://dashboard.stripe.com/apikeys
STRIPE_PUBLISHABLE_KEY=pk_live_51J3aqYCroHKRNssYQXQnikWxzrA8qG1Ngfd2NdkisnzUhrIK7EOymjjErLiK2kUT0vLqTnekCivWDHNmEIv7dAhJ00Ohoe6P3g
STRIPE_SECRET_KEY=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
# https://stripe.com/docs/webhooks/signatures
STRIPE_WEBHOOK_SECRET=whsec_1234

# Sendgrid key
# https://app.sendgrid.com/settings/api_keys
SENDGRID_API_KEY=SG.1234
FROM_EMAIL_ADDRESS=myshop@example.com
FULFILLMENT_EMAIL_ADDRESS=warehouse@example.com