// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
/* Main Container CSS */
@media (min-width: 0px) {
  .landing-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(/images/img2.jpg);
    background-size: cover;
    background-position: 60% 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1em;

    & .landing-heading {
      font-size: 1.2em;
      position: relative;
      top: 6vh;
      text-align: center;
    }
  }

}